.margin-8 {
    margin: 8px;
}





main {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.search-bar {
    margin: 8px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: 1px solid rgb(214, 213, 213);;
    box-shadow: 5px 5px lightgray;
}


.search-button {
    background-color: rgb(46, 46, 211);
    color: white;
    padding: 6px 25px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 5px 5px lightgray;
}

.search-button:hover {
    background-color: rgb(34, 34, 207);
    transition-duration: 300ms;
    transition-property: color;
}

.property-list {
    margin: 8px;
    padding: 8px;
    background-color:aqua;
    border-radius: 15px;
    border: 1px solid rgb(214, 213, 213);;
    box-shadow: 5px 5px lightgray;
    display: flex;
    flex-flow: row;
}

.property-card {
    width: 400px;
    max-width: 400px;
    margin: 8px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid rgb(214, 213, 213);
    box-shadow: 5px 5px lightgray;
}

.property-image {
    width: 100%;
    max-height: 250px;
}

.address {
    color: darkgray;
    text-align: center;
    margin-bottom: 8px;
}

.description {
    font-size: medium;
    color: gray;
    height: 60px;
    max-height: 60px;
}

.values {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 16px;
}

.price {
    flex-grow: 1;
    text-align: center;
    color: blue;
    font-size: 26px;
    font-weight: bolder;
}

.rooms {
    flex-grow: 1;
    text-align: center;
    font-size: small;
    font-weight: bolder;
    border-radius: 30px;
    border: 1px solid darkblue;
    background-color: lightblue;
    padding: 6px 15px;
}

.details-button {
    width: 100%;
    padding: 12px 24px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: 5px 5px lightgray;
}

.details-button:hover {
    background-color: darkblue;
}
