<div class="container">
    <!-- Filtro de propiedades -->
    <section class="row p-3 mb-1 shadow-sm">
        <input type="text" class="form-control-lg col-10 mx-2" placeholder="Filtrar por ciudad">
        <button type="button" class="btn btn-primary col">Buscar</button>
    </section>

    <section class="row">
        @for (property of properties; track property.id) {
        <div class="property-card">
            <img class="property-image" [src]="property.image" [alt]="property.address">
            <div>
                <h2 class="address">{{ property.address }}, {{ property.city }}</h2>
                <p class="description">{{ property.description }}</p>
                <div class="values">
                    <span class="price">{{ property.price }}</span>
                    <span class="rooms">{{ property.bedrooms }} Hab. | {{ property.bathrooms }} Baños</span>
                </div>
                <button class="details-button">Ver detalles</button>
            </div>
        </div>
        }
    </section>

</div>