main {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.search-bar {
    margin: 8px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: 1px solid rgb(214, 213, 213);;
    box-shadow: 5px 5px lightgray;
}


.search-button {
    background-color: rgb(46, 46, 211);
    color: white;
    padding: 6px 25px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 5px 5px lightgray;
}

.search-button:hover {
    background-color: rgb(34, 34, 207);
    transition-duration: 300ms;
    transition-property: color;
}

.property-list {
    margin: 8px;
    padding: 8px;
    background-color:aqua;
    border-radius: 15px;
    border: 1px solid rgb(214, 213, 213);;
    box-shadow: 5px 5px lightgray;
    display: flex;
    flex-flow: row;
}

