<form [formGroup]="propertyGroup" (submit)="onSave()">
  <main class="mt-5">
    <h3 class="mb-3">Nueva propiedad</h3>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Cra 0 # 00 - 00" formControlName="address">
      @if(propertyGroup.get('address')?.invalid && propertyGroup.get('address')?.touched) {
        <p class="small text-danger">La direccion es obligatoria</p>
      }
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripcion</label>
      <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      @if(propertyGroup.get('description')?.invalid && propertyGroup.get('description')?.touched) {
        <p class="small text-danger">La descripción es obligatoria</p>
      }
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" placeholder="Bogotá" formControlName="city">
      @if(propertyGroup.get('city')?.invalid && propertyGroup.get('city')?.touched) {
        <p class="small text-danger">La ciudad es obligatoria</p>
      }
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" id="price" placeholder="500.00" formControlName="price">
      @if(propertyGroup.get('price')?.invalid && propertyGroup.get('price')?.touched) {
        @if(propertyGroup.get('price')?.errors?.['required']) {
          <p class="small text-danger">El precio es obligatorio</p>
        }
        @if(propertyGroup.get('price')?.errors?.['min']) {
          <p class="small text-danger">El precio debe ser mayor o igual a $100</p>
        }
      }
    </div>
    <div class="row">
      <div class="mb-3 col">
        <label for="bedrooms" class="form-label">Habitaciones</label>
        <input type="number" class="form-control" id="bedrooms" placeholder="3" formControlName="bedrooms">
        @if(propertyGroup.get('bedrooms')?.invalid && propertyGroup.get('bedrooms')?.touched) {
          @if(propertyGroup.get('bedrooms')?.errors?.['required']) {
            <p class="small text-danger">El número de habitaciones es obligatorio</p>
          }
          @if(propertyGroup.get('bedrooms')?.errors?.['min']) {
            <p class="small text-danger">El número de habitaciones debe ser mayor o igual a 0</p>
          }
        }
      </div>
      <div class="mb-3 col">
        <label for="bathrooms" class="form-label">Baños</label>
        <input type="number" class="form-control" id="bathrooms" placeholder="2" formControlName="bathrooms">
        @if(propertyGroup.get('bathrooms')?.invalid && propertyGroup.get('bathrooms')?.touched) {
          @if(propertyGroup.get('bathrooms')?.errors?.['required']) {
            <p class="small text-danger">El número de baños es obligatorio</p>
          }
          @if(propertyGroup.get('bathrooms')?.errors?.['min']) {
            <p class="small text-danger">El número de baños debe ser mayor o igual a 0</p>
          }
          @if(propertyGroup.get('bathrooms')?.errors?.['max']) {
            <p class="small text-danger">El número de baños debe ser inferior o igual a 10</p>
          }
        }
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">URL de Imagen</label>
      <input type="text" class="form-control" id="image" placeholder="http://xxx.jpg" formControlName="image">
      @if(propertyGroup.get('image')?.invalid && propertyGroup.get('image')?.touched) {
        @if(propertyGroup.get('image')?.errors?.['required']) {
          <p class="small text-danger">La URL de la imagen es obligatoria</p>
        }
        @if(propertyGroup.get('image')?.errors?.['pattern']) {
          <p class="small text-danger">La URL de la imagen no tiene el formato correcto</p>
        }
      }
    </div>
    <div class="row gap-3 ms-1 me-1 mt-3 mb-3 ">
      <button type="submit" class="btn btn-primary col" [disabled]="propertyGroup.invalid">Guardar</button>
      <button type="reset" class="btn btn-secondary col">Limpiar</button>
    </div>
  </main>
</form>