<main class="row mt-5">
  @if(property){
    <img class="col-12 col-md-6" [src]="property.image" [alt]="property.address">
    <div class="col-12 col-md-6">
      <h2 class="text-center">{{ property.address }}</h2>
      <h4 class="d-flex justify-content-end">{{ property.price | currency:'COP':'symbol-narrow':'1.2-2' }}</h4>
      <p>{{ property.description }}</p>
      <div class="row">
        <div class="col text-center">{{ property.bedrooms ?? 0 | number }} Habitaciones</div>
        <div class="col text-center">{{ property.bathrooms | number }} Baños</div>
      </div>
    </div>
  } @else {
    <h3>No hay información disponible</h3>
  }
</main>